@import url("../vendor/flexboxgrid/dist/flexboxgrid.min.css");
@font-face {
  font-family: 'Open Sans';
  font-weight: 300;
  src: url("../fonts/open-sans/hinted-OpenSans-Light.eot");
  src: local("Open Sans"), url("../fonts/open-sans/hinted-OpenSans-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans/hinted-OpenSans-Light.woff2") format("woff2"), url("../fonts/open-sans/hinted-OpenSans-Light.woff") format("woff"), url("../fonts/open-sans/hinted-OpenSans-Light.ttf") format("truetype"), url("../fonts/open-sans/hinted-OpenSans-Light.svg#Open Sans") format("svg");
}
@font-face {
  font-family: 'Open Sans';
  font-weight: 400;
  src: url("../fonts/open-sans/hinted-OpenSans.eot");
  src: local("Open Sans"), url("../fonts/open-sans/hinted-OpenSans.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans/hinted-OpenSans.woff2") format("woff2"), url("../fonts/open-sans/hinted-OpenSans.woff") format("woff"), url("../fonts/open-sans/hinted-OpenSans.ttf") format("truetype"), url("../fonts/open-sans/hinted-OpenSans.svg#Open Sans") format("svg");
}
@font-face {
  font-family: 'Open Sans';
  font-weight: 600;
  src: url("../fonts/open-sans/hinted-OpenSans-Semibold.eot");
  src: local("Open Sans"), url("../fonts/open-sans/hinted-OpenSans-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans/hinted-OpenSans-Semibold.woff2") format("woff2"), url("../fonts/open-sans/hinted-OpenSans-Semibold.woff") format("woff"), url("../fonts/open-sans/hinted-OpenSans-Semibold.ttf") format("truetype"), url("../fonts/open-sans/hinted-OpenSans-Semibold.svg#Open Sans") format("svg");
}
@font-face {
  font-family: 'Open Sans';
  font-weight: 700;
  src: url("../fonts/open-sans/hinted-OpenSans-Bold.eot");
  src: local("Open Sans"), url("../fonts/open-sans/hinted-OpenSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans/hinted-OpenSans-Bold.woff2") format("woff2"), url("../fonts/open-sans/hinted-OpenSans-Bold.woff") format("woff"), url("../fonts/open-sans/hinted-OpenSans-Bold.ttf") format("truetype"), url("../fonts/open-sans/hinted-OpenSans-Bold.svg#Open Sans") format("svg");
}
@media screen and (max-width: 1105px) {
  .fp-section,
  .fp-slide,
  .fp-tableCell {
    height: auto !important;
  }
}
hr {
  height: 2px;
  background: #fff;
  width: 100%;
  float: left;
  clear: both;
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
html,
body {
  color: #fff;
  padding: 0;
  font-size: 100%;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
  overflow: auto;
}
html height 100%,
body height 100% {
  min-height: 100%;
}
img {
  max-width: 100%;
}
figure {
  margin: 0;
}
p {
  margin: 0 0 15px;
  line-height: 1.6;
}
p:last-child {
  margin-bottom: 0;
}
.button {
  background: rgba(0,0,0,0.5);
  border: 2px solid #fff;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  font-size: 0.875rem;
  padding: 0.625rem 1.25rem;
  min-width: 220px;
  max-width: 220px;
  min-height: 70px;
  display: inline-block;
  margin: 1em;
}
@media only screen and (max-width: 40rem) {
  .button {
    float: none;
    font-size: 0.625rem;
    padding: 0.313rem 0.625rem;
  }
}
@media only screen and (max-width: 30rem) {
  .button {
    min-width: 120px;
    max-width: 120px;
  }
}
.button:hover {
  background: rgba(0,0,0,0.7);
}
.button-white {
  display: inline-block;
  min-width: 12.844rem;
  padding: 0.938rem 2.188rem;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  border: 0.125rem solid #fff;
  -webkit-transition: 0.5s all ease-in-out;
  transition: 0.5s all ease-in-out;
  background: transparent;
}
.button-white:hover,
.button-white:focus {
  padding: 0.938rem 1.563rem;
  color: #181c1a;
  text-decoration: none;
  background: #fff;
}
.button-white--small {
  font-size: 0.875rem;
  padding: 0.438rem 0.938rem;
}
.button-white--small:hover,
.button-white--small:focus {
  padding: 0.438rem 0.938rem;
}
.calculator {
  background-color: #181c1a;
  background-image: url("../img/home-background.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.calculator .calculator-header {
  position: fixed;
  top: 0;
  right: 0;
  bottom: auto;
  left: 0;
  width: 100%;
  padding: 1.875rem 0;
  z-index: 10;
}
.calculator .headline {
  background: rgba(0,0,0,0.5);
  padding: 0.313rem 0.625rem 0.313rem 3.125rem;
}
.calculator .headline p {
  font-size: 0.938rem;
}
.calculator .logo {
  padding-right: 2.5rem;
}
.calculator .section {
  background: transparent;
  margin-left: 11.875rem;
  clear: both;
}
.calculator .section .fp-tableCell {
  padding-top: 5.313rem;
}
@media only screen and (max-width: 1105px) {
  .calculator .section {
    margin-left: 0;
    padding: 0;
    width: 100%;
    height: auto !important;
  }
  .calculator .section .fp-tableCell {
    padding: 5.313rem 0;
  }
}
.calculator .section .section-header {
  margin-bottom: 1.563rem;
  width: 100%;
  float: left;
}
@media only screen and (max-width: 1105px) {
  .calculator .section .section-header {
    margin-top: 1.875rem;
  }
}
.calculator .section .section-header:after {
  content: "";
  display: block;
  width: 3.125rem;
  float: left;
  background: #fff;
  height: 3px;
}
.calculator .section .section-header .section-title {
  font-weight: 400;
  margin-bottom: 0.313rem;
  font-size: 1.563rem;
}
@media only screen and (max-width: 69.063rem) {
  .calculator .section .section-header .section-title {
    font-size: 1.125rem;
  }
}
@media only screen and (max-width: 37.5rem) {
  .calculator .section .section-header .section-title {
    font-size: 0.875rem;
  }
}
.calculator .section.section-loading.active .navigation {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
}
.calculator .maps img {
  padding: 0 22%;
}
@media only screen and (max-width: 69.063rem) {
  .calculator .maps {
    width: 70%;
  }
}
@media only screen and (max-width: 48rem) {
  .calculator .maps {
    display: none;
  }
}
.calculator .safra-options {
  display: none;
  clear: both;
}
.logo-mobile {
  display: none;
  position: fixed;
  top: 0.75rem;
  right: 20px;
  width: 50px;
}
@media only screen and (max-width: 69.063rem) {
  .logo-mobile {
    display: block;
  }
}
.logo-input {
  position: fixed;
  top: 1.25rem;
  right: 0.625rem;
  bottom: auto;
  left: auto;
}
@media only screen and (max-width: 69.063rem) {
  .logo-input {
    position: fixed;
    top: 0.625rem;
    right: 5.625rem;
    bottom: auto;
    left: auto;
  }
}
@media only screen and (min-width: 69.063rem) {
  .separator {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .graficos {
    width: 100% !important;
  }
}
input,
input[type="text"],
input[type="email"],
textarea,
select {
  background: rgba(0,0,0,0.8);
  border: 1px solid #fff;
  padding: 0.313rem 0.625rem;
  min-width: 12.844rem;
  min-height: 40px;
  font-size: 12px;
}
input::-webkit-input-placeholder,
input[type="text"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder,
textarea::-webkit-input-placeholder,
select::-webkit-input-placeholder {
  color: #fff;
}
input:-moz-placeholder,
input[type="text"]:-moz-placeholder,
input[type="email"]:-moz-placeholder,
textarea:-moz-placeholder,
select:-moz-placeholder {
  color: #fff;
}
input::-moz-placeholder,
input[type="text"]::-moz-placeholder,
input[type="email"]::-moz-placeholder,
textarea::-moz-placeholder,
select::-moz-placeholder {
  color: #fff;
}
input:-ms-input-placeholder,
input[type="text"]:-ms-input-placeholder,
input[type="email"]:-ms-input-placeholder,
textarea:-ms-input-placeholder,
select:-ms-input-placeholder {
  color: #fff;
}
@media only screen and (max-width: 480px) {
  input,
  input[type="text"],
  input[type="email"],
  textarea,
  select {
    width: 80%;
  }
}
.checkbox-holder {
  margin-top: 10px;
  font-size: 13px;
  margin-bottom: 0;
  float: left;
  width: 100%;
}
.checkbox-holder label {
  cursor: pointer;
}
.checkbox-holder .styled-checkbox input[type="checkbox"] {
  display: none;
}
.checkbox-holder .styled-checkbox input[type="checkbox"]:checked + label span,
.checkbox-holder .styled-checkbox input[type="checkbox"]:hover + label span {
  background: #fff;
  border: 3px solid #000;
}
.checkbox-holder .styled-checkbox input[type="checkbox"]:checked + label span #uso,
.checkbox-holder .styled-checkbox input[type="checkbox"]:hover + label span #uso {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  visibility: hidden;
}
.checkbox-holder .styled-checkbox span {
  width: 18px;
  height: 18px;
  display: inline-block;
  background: #000;
  border-radius: 0;
  vertical-align: middle;
  margin: -2px 10px 0 0;
  -webkit-box-shadow: 0 0 0 1px #fff;
  box-shadow: 0 0 0 1px #fff;
}
.radio-holder label {
  display: inline-block;
  margin-right: 20px;
  cursor: pointer;
}
.radio-holder .styled-radio {
  margin-top: 20px;
}
.radio-holder .styled-radio input[type="radio"],
.radio-holder .styled-radio input[type="checkbox"] {
  display: none;
}
.radio-holder .styled-radio input[type="radio"]:checked + label span,
.radio-holder .styled-radio input[type="checkbox"]:checked + label span,
.radio-holder .styled-radio input[type="radio"]:hover + label span,
.radio-holder .styled-radio input[type="checkbox"]:hover + label span {
  background: #fff;
  border: 3px solid #000;
}
.radio-holder .styled-radio span {
  width: 18px;
  height: 18px;
  display: inline-block;
  background: #000;
  border-radius: 50%;
  cursor: pointer;
  vertical-align: middle;
  margin: -2px 10px 0 0;
  -webkit-box-shadow: 0 0 0 1px #fff;
  box-shadow: 0 0 0 1px #fff;
}
select {
  background: rgba(0,0,0,0.7) url("../img/select-arrow.png") center right 10px no-repeat;
  background-size: 8px;
  height: 40px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding-right: 10px;
  float: left;
  overflow: hidden;
  cursor: pointer;
}
select option {
  padding: 0.313rem;
  cursor: pointer;
}
.form-item {
  width: 100%;
  float: left;
  clear: both;
  margin-bottom: 15px;
}
@media only screen and (max-width: 48rem) {
  .form-item {
    margin-bottom: 10px;
  }
}
.form-item.with-checkbox {
  margin-bottom: 0;
}
.form-item.hidden {
  margin-top: 10px;
}
.form-item .pointer {
  height: 40px;
  float: left;
  width: 1px;
  border-left: 1px solid #fff;
  margin-left: -30px;
  position: relative;
}
p.label {
  max-width: 25rem;
  display: block;
  font-size: 0.875rem;
  font-weight: 600;
  margin: 0.625rem 0 0.188rem;
  clear: both;
  width: 100%;
}
.help {
  font-weight: 600;
  width: 30px;
  height: 30px;
  display: inline-block;
  border: 1px solid #aaa;
  border-radius: 100%;
  line-height: 30px;
  margin-left: 10px;
  margin-top: 5px;
  cursor: pointer;
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.help:hover,
.help:focus {
  background: #000;
  outline: none;
}
.help:before {
  position: absolute;
  top: -5px;
  left: 100%;
  color: #fff;
  content: attr(aria-label);
  padding: 10px;
  text-transform: none;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  width: 200px;
  margin-left: 10px;
  z-index: 10000;
  outline: none;
  word-wrap: break-word;
  background-color: rgba(0,0,0,0.9);
}
@media only screen and (max-width: 28.75rem) {
  .help:before {
    left: inherit;
    right: 100%;
    position: fixed;
    top: 50%;
    right: 0;
    bottom: auto;
    left: 0;
    max-width: 15.5rem;
    width: 100%;
    margin: 0 auto;
    padding: 1.563rem;
  }
}
.help:before,
.help:after {
  color: #efefef;
  font-size: 0.75rem;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  line-height: 1.5;
  pointer-events: none;
  font-weight: 400;
  text-align: left;
}
.help:focus:before,
.help:focus:after,
.help:hover:before,
.help:hover:after {
  -ms-filter: none;
  filter: none;
  opacity: 1;
  -webkit-transition: all 0.75s ease;
  transition: all 0.75s ease;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.left {
  float: left;
}
.right {
  float: right;
}
.center {
  display: block;
  margin: 0 auto;
}
.vertical-text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
}
.soft-transition {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.sr-only {
  display: none;
}
.hidden {
  display: none;
}
.clearfix {
  clear: both;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.container {
  width: 100%;
}
.container--small {
  max-width: 31.25rem;
  margin: 0 auto;
}
.row {
  width: 100%;
}
.col {
  display: block;
  float: left;
}
@media only screen and (min-width: 1024px) {
  .col-half {
    *zoom: 1;
    float: left;
    clear: none;
    text-align: inherit;
    width: 48.5%;
    margin-left: 0%;
    margin-right: 3%;
  }
  .col-half:before,
  .col-half:after {
    content: '';
    display: table;
  }
  .col-half:after {
    clear: both;
  }
  .col-half:last-child {
    margin-right: 0%;
  }
}
@media only screen and (max-width: 48rem) {
  .col-half {
    width: 100%;
  }
}
.col-one-third {
  width: 29%;
}
@media only screen and (max-width: 48rem) {
  .col-one-third {
    width: 100%;
  }
}
.col-two-third {
  width: 70%;
}
@media only screen and (max-width: 48rem) {
  .col-two-third {
    width: 100%;
  }
}
.fullpage-wrapper {
  padding: 1.563rem 0.938rem 1.563rem 4.063rem;
  overflow: hidden;
}
@media only screen and (min-width: 1024px) {
  .fullpage-wrapper {
    padding: 1.563rem 8.438rem 1.563rem 4.063rem;
  }
}
.separator {
  margin-top: 40px;
  border: 0;
  height: 1px;
  width: 100%;
}
.padding-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.padding-top-0 {
  padding-top: 0 !important;
}
.padding-bottom-0 {
  padding-bottom: 0 !important;
}
.margin-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.margin-top-0 {
  margin-top: 0 !important;
}
.margin-bottom-0 {
  margin-bottom: 0 !important;
}
.padding-5 {
  padding-top: 0.313rem !important;
  padding-bottom: 0.313rem !important;
}
.padding-top-5 {
  padding-top: 0.313rem !important;
}
.padding-bottom-5 {
  padding-bottom: 0.313rem !important;
}
.margin-5 {
  margin-top: 0.313rem !important;
  margin-bottom: 0.313rem !important;
}
.margin-top-5 {
  margin-top: 0.313rem !important;
}
.margin-bottom-5 {
  margin-bottom: 0.313rem !important;
}
.padding-10 {
  padding-top: 0.625rem !important;
  padding-bottom: 0.625rem !important;
}
.padding-top-10 {
  padding-top: 0.625rem !important;
}
.padding-bottom-10 {
  padding-bottom: 0.625rem !important;
}
.margin-10 {
  margin-top: 0.625rem !important;
  margin-bottom: 0.625rem !important;
}
.margin-top-10 {
  margin-top: 0.625rem !important;
}
.margin-bottom-10 {
  margin-bottom: 0.625rem !important;
}
.padding-15 {
  padding-top: 0.938rem !important;
  padding-bottom: 0.938rem !important;
}
.padding-top-15 {
  padding-top: 0.938rem !important;
}
.padding-bottom-15 {
  padding-bottom: 0.938rem !important;
}
.margin-15 {
  margin-top: 0.938rem !important;
  margin-bottom: 0.938rem !important;
}
.margin-top-15 {
  margin-top: 0.938rem !important;
}
.margin-bottom-15 {
  margin-bottom: 0.938rem !important;
}
.padding-20 {
  padding-top: 1.25rem !important;
  padding-bottom: 1.25rem !important;
}
.padding-top-20 {
  padding-top: 1.25rem !important;
}
.padding-bottom-20 {
  padding-bottom: 1.25rem !important;
}
.margin-20 {
  margin-top: 1.25rem !important;
  margin-bottom: 1.25rem !important;
}
.margin-top-20 {
  margin-top: 1.25rem !important;
}
.margin-bottom-20 {
  margin-bottom: 1.25rem !important;
}
.padding-25 {
  padding-top: 1.563rem !important;
  padding-bottom: 1.563rem !important;
}
.padding-top-25 {
  padding-top: 1.563rem !important;
}
.padding-bottom-25 {
  padding-bottom: 1.563rem !important;
}
.margin-25 {
  margin-top: 1.563rem !important;
  margin-bottom: 1.563rem !important;
}
.margin-top-25 {
  margin-top: 1.563rem !important;
}
.margin-bottom-25 {
  margin-bottom: 1.563rem !important;
}
.padding-30 {
  padding-top: 1.875rem !important;
  padding-bottom: 1.875rem !important;
}
.padding-top-30 {
  padding-top: 1.875rem !important;
}
.padding-bottom-30 {
  padding-bottom: 1.875rem !important;
}
.margin-30 {
  margin-top: 1.875rem !important;
  margin-bottom: 1.875rem !important;
}
.margin-top-30 {
  margin-top: 1.875rem !important;
}
.margin-bottom-30 {
  margin-bottom: 1.875rem !important;
}
.padding-35 {
  padding-top: 2.188rem !important;
  padding-bottom: 2.188rem !important;
}
.padding-top-35 {
  padding-top: 2.188rem !important;
}
.padding-bottom-35 {
  padding-bottom: 2.188rem !important;
}
.margin-35 {
  margin-top: 2.188rem !important;
  margin-bottom: 2.188rem !important;
}
.margin-top-35 {
  margin-top: 2.188rem !important;
}
.margin-bottom-35 {
  margin-bottom: 2.188rem !important;
}
.padding-40 {
  padding-top: 2.5rem !important;
  padding-bottom: 2.5rem !important;
}
.padding-top-40 {
  padding-top: 2.5rem !important;
}
.padding-bottom-40 {
  padding-bottom: 2.5rem !important;
}
.margin-40 {
  margin-top: 2.5rem !important;
  margin-bottom: 2.5rem !important;
}
.margin-top-40 {
  margin-top: 2.5rem !important;
}
.margin-bottom-40 {
  margin-bottom: 2.5rem !important;
}
.padding-45 {
  padding-top: 2.813rem !important;
  padding-bottom: 2.813rem !important;
}
.padding-top-45 {
  padding-top: 2.813rem !important;
}
.padding-bottom-45 {
  padding-bottom: 2.813rem !important;
}
.margin-45 {
  margin-top: 2.813rem !important;
  margin-bottom: 2.813rem !important;
}
.margin-top-45 {
  margin-top: 2.813rem !important;
}
.margin-bottom-45 {
  margin-bottom: 2.813rem !important;
}
.padding-50 {
  padding-top: 3.125rem !important;
  padding-bottom: 3.125rem !important;
}
.padding-top-50 {
  padding-top: 3.125rem !important;
}
.padding-bottom-50 {
  padding-bottom: 3.125rem !important;
}
.margin-50 {
  margin-top: 3.125rem !important;
  margin-bottom: 3.125rem !important;
}
.margin-top-50 {
  margin-top: 3.125rem !important;
}
.margin-bottom-50 {
  margin-bottom: 3.125rem !important;
}
.padding-70 {
  padding-top: 4.375rem !important;
  padding-bottom: 4.375rem !important;
}
.padding-top-70 {
  padding-top: 4.375rem !important;
}
.padding-bottom-70 {
  padding-bottom: 4.375rem !important;
}
.margin-70 {
  margin-top: 4.375rem !important;
  margin-bottom: 4.375rem !important;
}
.margin-top-70 {
  margin-top: 4.375rem !important;
}
.margin-bottom-70 {
  margin-bottom: 4.375rem !important;
}
.padding-100 {
  padding-top: 6.25rem !important;
  padding-bottom: 6.25rem !important;
}
.padding-top-100 {
  padding-top: 6.25rem !important;
}
.padding-bottom-100 {
  padding-bottom: 6.25rem !important;
}
.margin-100 {
  margin-top: 6.25rem !important;
  margin-bottom: 6.25rem !important;
}
.margin-top-100 {
  margin-top: 6.25rem !important;
}
.margin-bottom-100 {
  margin-bottom: 6.25rem !important;
}
.nopadding {
  padding: 0;
}
.nomargin {
  margin: 0;
}
.middle {
  display: table;
  table-layout: fixed;
  width: 100%;
  height: 100%;
}
.middle > .middle-inner {
  display: table-cell;
  vertical-align: middle;
}
.homepage {
  position: relative;
  height: 100vh;
  min-height: 28.125rem;
  background-color: #181c1a;
  background-image: url("../img/home-background.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.homepage .logo {
  display: block;
  padding: 0.938rem;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .homepage .logo {
    padding: 2.5rem 0.938rem;
  }
}
.homepage .home-headline {
  margin: 3.125rem auto;
  padding: 1em;
}
@media only screen and (max-width: 48rem) {
  .homepage .home-headline {
    margin: 1.875rem auto;
  }
}
.homepage .home-headline .title {
  font-size: 2rem;
  font-weight: 400;
  margin: 2.5rem 0 0;
}
@media only screen and (max-width: 48rem) {
  .homepage .home-headline .title {
    font-size: 1.125rem;
  }
}
.homepage .home-headline .desc {
  font-size: 1rem;
  font-weight: 400;
  margin: 1.25rem 0 0;
}
@media only screen and (max-width: 48rem) {
  .homepage .home-headline .desc {
    font-size: 0.875rem;
  }
}
.homepage .content {
  *zoom: 1;
  width: auto;
  max-width: 780px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.homepage .content:before,
.homepage .content:after {
  content: '';
  display: table;
}
.homepage .content:after {
  clear: both;
}
.homepage .content .buttons {
  *zoom: 1;
  width: auto;
  max-width: 600px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
}
.homepage .content .buttons:before,
.homepage .content .buttons:after {
  content: '';
  display: table;
}
.homepage .content .buttons:after {
  clear: both;
}
.homepage .content .buttons:before,
.homepage .content .buttons:after {
  content: " ";
  display: table;
}
.homepage .content .buttons:after {
  clear: both;
}
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: auto;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: rgba(0,0,0,0.6);
}
.modal.visible {
  -ms-filter: none;
  filter: none;
  opacity: 1;
  visibility: visible;
}
.modal .modal-content {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  max-width: 43.75rem;
  height: 80vh;
  overflow-y: auto;
  width: 100%;
  padding: 1.875rem;
  border: 1px solid #333;
  text-align: left;
  background: #000;
}
.modal .close-modal {
  background: transparent;
  border: 0;
  color: #fff;
  cursor: pointer;
  float: right;
  font-size: 40px;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
  filter: alpha(opacity=40);
  opacity: 0.4;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  position: absolute;
  right: 0;
  top: 0;
}
.modal .close-modal:hover {
  -ms-filter: none;
  filter: none;
  opacity: 1;
}
.modal-calculator .modal-content {
  max-width: 56.25rem;
}
.segunda-safra {
  display: none;
}
.navigation {
  max-width: 160px;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  right: auto;
  bottom: 0;
  left: 0;
  padding: 1.25rem 0 0 0.938rem;
  z-index: 9;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
@media only screen and (min-width: 768px) {
  .navigation {
    padding: 3.75rem 0 0 0.938rem;
  }
}
@media only screen and (max-width: 1105px) {
  .navigation {
    position: fixed;
    top: 0;
    right: auto;
    bottom: 0;
    left: -140px;
    background-color: transparent;
  }
}
.navigation.visible {
  left: 0;
  background-color: #181c1a;
}
.navigation .toggle-nav {
  display: none;
  background: #181c1a;
  position: fixed;
  top: 12px;
  right: auto;
  bottom: auto;
  left: 5px;
  width: 50px;
  height: 48px;
  text-align: center;
  border-radius: 0 3px 3px 0;
  border: 0;
  cursor: pointer;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.navigation .toggle-nav:focus {
  outline: none;
}
@media only screen and (max-width: 69.063rem) {
  .navigation .toggle-nav {
    display: block;
  }
}
.navigation .toggle-nav span {
  background: #fff;
  border-radius: 2px;
  display: block;
  height: 3px;
  left: 8px;
  -ms-filter: none;
  filter: none;
  opacity: 1;
  position: absolute;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  width: 35px;
}
.navigation .toggle-nav span:nth-child(1) {
  top: 12px;
}
.navigation .toggle-nav span:nth-child(2),
.navigation .toggle-nav span:nth-child(3) {
  top: 22px;
}
.navigation .toggle-nav span:nth-child(4) {
  top: 32px;
}
.navigation .toggle-nav.toggled {
  left: 150px;
}
.navigation .toggle-nav.toggled span:nth-child(1) {
  left: 50%;
  top: 18px;
  width: 0%;
}
.navigation .toggle-nav.toggled span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.navigation .toggle-nav.toggled span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.navigation .toggle-nav.toggled span:nth-child(4) {
  left: 50%;
  top: 18px;
  width: 0%;
}
.navigation .sections-menu {
  padding: 0;
  margin: 0;
  position: relative;
}
@media only screen and (min-width: 1105px) {
  .navigation .sections-menu:after {
    content: "";
    background: #fff;
    position: absolute;
    top: 33px;
    bottom: 0;
    height: 100%;
    right: 4px;
    width: 2px;
    height: 90%;
  }
}
.navigation .menu-item {
  display: block;
  margin-top: 1.25rem;
  padding-right: 15px;
  position: relative;
}
.navigation .menu-item--dot:before {
  position: absolute;
  content: "";
  background: #455f54;
  width: 10px;
  height: 10px;
  right: 0;
  border-radius: 100%;
  top: 50%;
  z-index: 10;
  border: 1px solid #fff;
}
@media only screen and (max-width: 1105px) {
  .navigation .menu-item--dot:before {
    right: 5px;
  }
}
.navigation .menu-item--brand {
  max-width: 100%;
  margin: 0 auto;
}
@media only screen and (min-width: 1105px) {
  .navigation .menu-item--brand {
    position: fixed;
    top: 25px;
    right: auto;
    bottom: auto;
    left: 15px;
    padidng: 0.313rem;
  }
}
.navigation .menu-item--description {
  max-width: 100%;
  font-size: 0.875rem;
}
@media only screen and (min-width: 1105px) {
  .navigation .menu-item--description {
    position: fixed;
    top: 23px;
    right: auto;
    bottom: auto;
    left: 240px;
    margin: 0;
    display: block;
    padding: 0.438rem 0.938rem 0.313rem;
    font-weight: 300;
    text-transform: uppercase;
    background-color: rgba(24,28,26,0.6);
  }
}
.navigation .menu-item.active {
  font-weight: 900;
}
.navigation .menu-item.active .icon {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.navigation .menu-item.active:before {
  background: #fff;
}
.navigation .menu-item .link {
  color: #fff;
  text-decoration: none;
  font-size: 0.625rem;
  display: block;
  position: relative;
}
.navigation .menu-item .icon {
  width: 20px;
}
@media only screen and (max-width: 1105px) {
  .navigation .menu-item .icon {
    display: none;
  }
}
.navigation .menu-item .title {
  display: block;
  clear: both;
  max-width: 100px;
  margin: 0 auto;
}
.arrows-navigation {
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  z-index: 9;
}
.arrows-navigation:before,
.arrows-navigation:after {
  content: " ";
  display: table;
}
.arrows-navigation:after {
  clear: both;
}
@media only screen and (max-width: 1105px) {
  .arrows-navigation {
    display: none;
  }
}
.arrows-navigation .slide-arrow {
  width: 56px;
  height: 60px;
  border: 0;
  font-size: 0;
  position: fixed;
  right: 40px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  outline: none;
}
:hover,
:focus {
  outline: none;
}
.arrow-up {
  background: transparent url("../img/arrow-up.png") center no-repeat;
  top: 90px;
  outline: none;
}
.arrow-up:hover {
  top: 80px;
}
.arrow-down {
  background: transparent url("../img/arrow-down.png") center no-repeat;
  bottom: 40px;
  outline: none;
}
.arrow-down:hover {
  bottom: 30px;
}
.nav-helper-text {
  font-size: 12px;
  background: transparent;
  position: fixed;
  bottom: 100px;
  right: 0;
  padding: 5px 15px;
  -webkit-animation: mover 1s infinite alternate;
  animation: mover 1s infinite alternate;
}
@-moz-keyframes mover {
  0% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}
@-webkit-keyframes mover {
  0% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}
@-o-keyframes mover {
  0% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}
@keyframes mover {
  0% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}
.table {
  font-size: 0.75rem;
  text-align: center;
}
.table td,
.table th {
  padding: 0.313rem;
  border: 1px solid #fff;
}
.table th {
  background: rgba(255,255,255,0.1);
}
.loading-text {
  font-weight: 700;
  margin-top: 25%;
}
