// Mixins
vertical-center(str)
	position absolute
	top 50%
	left 0
	right 0
	margin 0 auto
	text-align center
	transform translateY(str)
	
cover()
	background-position center
	background-size cover
	background-repeat no-repeat

bgFixed()
	background-position center
	background-size cover
	background-repeat no-repeat
	background-attachment fixed