.button 
    background rgba(#000, 0.5)
    border 2px solid #fff
    text-transform uppercase
    text-decoration none
    color #fff
    font-size rem(14px)
    padding rem(10px 20px)
    min-width 220px
    max-width 220px
    min-height 70px
    display inline-block 
    margin 1em
    +below(rem(640px))
        float none
        font-size rem(10px)
        padding rem(5px 10px)
    +below(rem(480px))
        min-width 120px
        max-width 120px
    &:hover
        background rgba(#000, 0.7)

.button-white
    display inline-block
    min-width rem(205.5px)
    padding rem(15px 35px)
    font-weight 400
    line-height 1.5
    color $light
    text-transform uppercase
    text-decoration none
    border rem(2px) solid $light
    transition .5s all ease-in-out
    background transparent
    &:hover
    &:focus
        padding rem(15px 25px)
        color $dark
        text-decoration none
        background $light
        
    &--small
        font-size rem(14px)
        padding rem(7px 15px)
        &:hover
        &:focus
            padding rem(7px 15px)
        