.modal 
    fixed: 0
    size: 100%, 100vh
    overflow auto
    opacity 0
    visibility hidden
    transition all 0.3s ease-in-out
    background rgba(#000, 0.6)
    &.visible
        opacity 1
        visibility visible
    .modal-content
        vertical-center(-50%)
        max-width rem(700px)
        height 80vh
        overflow-y auto
        width 100%
        padding rem(30px)
        border 1px solid #333
        text-align left
        background rgba(#000, 1)
        
    .close-modal 
        background transparent
        border 0
        color #fff
        cursor pointer
        float right
        font-size 40px
        opacity 0.4
        transition all 0.3s ease-in-out
        position absolute
        right 0
        top 0
        &:hover 
            opacity 1

    &-calculator .modal-content
        max-width rem(900px)

.segunda-safra
	display none
