// sidebar navigation
.navigation
    max-width 160px
    size: 100%, 100vh
    fixed: 0 auto 0 0
    padding rem(20px 0 0 15px)
    z-index 9
    transition all 0.3s ease-in-out
    +above(768px)
        padding rem(60px 0 0 15px)
    +below(1105px)
        fixed 0 auto 0 -140px
        background-color transparent
    // Mobile
    &.visible
        left 0
        background-color $dark
    .toggle-nav
        display none
        background $dark
        fixed 12px auto auto 5px
        width 50px
        height 48px
        text-align center
        border-radius 0 3px 3px 0
        border 0
        cursor pointer
        transform rotate(0deg)
        transition .3s ease-in-out
        &:focus
            outline none
        +below(rem(1105px))
            display block
        span
            background #fff
            border-radius 2px
            display block
            height 3px
            left 8px
            opacity 1
            position absolute
            transform rotate(0deg)
            transition .25s ease-in-out
            width 35px
            &:nth-child(1) 
                top: 12px;
            &:nth-child(2),
            &:nth-child(3) 
                top: 22px
            &:nth-child(4) 
                top: 32px
        &.toggled 
            left 150px
            span:nth-child(1) 
                left 50%
                top 18px
                width 0%
            span:nth-child(2) 
                transform rotate(45deg)
            span:nth-child(3) 
                transform rotate(-45deg)
            span:nth-child(4) 
                left 50%
                top 18px
                width 0%

    .sections-menu
        padding 0
        margin 0
        position relative
        // Desktop
        +above(1105px)
            &:after
                content ""
                background #fff
                position absolute
                top 33px
                bottom 0
                height 100%
                right 4px
                width 2px
                height 90%
            
    .menu-item
        display block
        margin-top rem(20px)
        padding-right 15px
        position relative
        &--dot:before
            position absolute
            content ""
            background #455f54
            width 10px
            height 10px
            right 0
            border-radius 100%
            top 50%
            z-index 10
            border 1px solid #fff
            +below(1105px)
                right 5px
                
            
        &--brand
            max-width 100%
            margin 0 auto
            +above(1105px)
                fixed: 25px auto auto 15px
                padidng rem(5px)
            
        &--description
            max-width 100%
            font-size rem(14px)
            +above(1105px)
                fixed: 23px auto auto 240px
                margin 0
                display block
                padding rem(7px 15px 5px)
                font-weight 300
                text-transform uppercase
                background-color alpha($dark, 60%)
            

        &.active
            font-weight 900
            .icon
                transform scale(1.1)
            &:before
                background #fff
        .link
            color #fff
            text-decoration none
            font-size rem(10px)
            display block
            position relative
            
        .icon
            width 20px
            // Mobile
            +below(1105px)
                display none

        .title
            display block
            clear both
            max-width 100px
            margin 0 auto

// arrows navigation
.arrows-navigation
    position fixed
    right 0
    top 0
    height 100%
    z-index 9
    clearfix()
    +below(1105px)
        display none
		
    .slide-arrow
        width 56px
        height 60px
        border 0
        font-size 0
        position fixed
        right 40px
        transition all 0.5s ease
        outline none
		&:hover, 
		&:focus
            outline none			

    .arrow-up
        background transparent url("../img/arrow-up.png") center no-repeat
        top 90px
        outline none
        &:hover
            top 80px
			
    .arrow-down
        background transparent url("../img/arrow-down.png") center no-repeat
        bottom 40px
        outline none
        &:hover
            bottom 30px
			
	.nav-helper-text
		font-size 12px
		background transparent
		position fixed
		bottom 100px 
		right 0
		padding 5px 15px
		animation mover 1s infinite  alternate

@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}
